:root{
    --dark:#31322C;
    --blue:#39A0ED;
    --light-green:#15C4A3;
    --light-purpel:#4C6085;
    --gradient-one:#14C1A9;
    --gradient-two:#39A1EA;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right , var(--gradient-one), var(--gradient-two));
}
.grid{
    color: #fff;
    line-height: 100px;
    font-size: 1.5em;
    width: 80%;
    height: 80vh;
    box-shadow: 0 0 70px  rgba(0, 0, 0, .5);
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(6, 1fr);
    text-align: center;
    grid-template-areas: 
    "a b c d"
    "e f f g"
    "e f f g"
    "e f f g"
    "e h i g"
    "e h i g";

}
.grid-item1{
    /* grid-column: 1 / 2; */ 
    background-color: var(--dark);
    grid-area: a; 
}
.grid-item2{
    /* grid-column: 2/3; */ 
    background-color: var(--blue);
    grid-area: b;
}
.grid-item3{
    /* grid-column: 3/4; */
    background-color: var(--light-green);
    grid-area: c;
}
.grid-item4{
    /* grid-column: 4/5; */
    background-color: var(--dark);
    grid-area: d;
}
.grid-item5{
    /* grid-column: 1/2;
    grid-row: 2/-1; */
    background-color: var(--light-purpel);
    grid-area: e;
}
.grid-item6{
    /* grid-column: 2/4;
    grid-row: 2/5; */
    background-color: var(--dark);
    grid-area: f;
}
.grid-item7{
    /* grid-column: 4/-1;
    grid-row: 2/-1; */
    background-color: var(--light-purpel);
    grid-area: g;
}
.grid-item8{
    /* grid-column: 2/3;
    grid-row: 5/-1; */  
    background-color: var(--blue);
    grid-area: h;
}
.grid-item9{
    /* grid-column: 3/4; 
    grid-row: 5/-1; */ 
    background-color: var(--light-green);
    grid-area: i;
}

@media screen and (max-width: 576px) {
    .grid{
        
        grid-template-areas: 
        "e e e e"
        "a a b b"
        "c c d d"
        "f f f f"
        "h h i i"
        "g g g g";
    
    }
}